<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.paymon.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name=".ApplicationLoader"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_paymon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_paymon"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:installLocation="internalOnly"
        tools:replace="android:icon">
        <!--large heap TODO:подумать -->


        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.StartActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name=".activities.KeyGuardActivity" />

        <activity
            android:name=".activities.SettingsActivity" />

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource"/>
        </provider>

        <service
            android:name="ru.paymon.android.net.ConnectorService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="ru.paymon.android.net.Connector" />
            </intent-filter>
        </service>

        <receiver android:name=".broadcastreceivers.NetworkStateReceiver"
            android:enabled="true" android:label="NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>